@page "/cadastro/{id:int}"
@using LoginMaui.Models
@using LoginMaui.Services
@inject NavigationManager Navigation
@inject ICadastroService CadastroService

<div class="vh-100 d-flex flex-column fade-in">
    @if (cadastro != null) {
        <span>Nome: @cadastro.Nome</span>
        <span>Sobrenome: @cadastro.Sobrenome</span>
        <span>Data de Nascimento: @cadastro.DataNascimento.ToShortDateString()</span>
        <span>Email: @cadastro.CadastroEmail</span>
        <span>Telefone: @cadastro.Telefone</span>
        <span>Genero: @cadastro.Genero</span>
        <span>@cadastro.Rua, @cadastro.Numero</span>
        <span>@cadastro.Bairro, @cadastro.Complemento</span>
        <span>@cadastro.Cidade, @cadastro.Estado</span>

        <div class="d-flex">
            <button class="btn btn-primary m-2">Editar</button>
            <button class="btn btn-danger m-2">Excluir</button>
        </div>
        <a class="btn btn-light m-2" @onclick="Voltar">Voltar</a>
    }
    else {
        <p>Carregando...</p>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private CadastroModel cadastro;

    protected override async Task OnParametersSetAsync() {
        cadastro = await CadastroService.GetCadastroById(Id);
    }

    private void Voltar(MouseEventArgs e) {

        Navigation.NavigateTo("/ListaCadastros");
    }
}